@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$primary-color: yellow;
$secondary-color: red;

%reset {
  margin: 0;
  padding: 0;
}
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  @extend %reset;
  @include flex;
  background: $primary-color;
  font-family: Inria Sans;
  overflow: hidden;
}
img {
  max-width: 100%;
}
.main {
  position: relative;
  animation: animationCV 1s ease-in-out;
  .content {
    width: 500px;
    padding: 20px;
    position: relative;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(30, 25, 30, 0.14);
    .bio {
      @include flex();
      img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
      .info {
        padding: 20px;
        h1 {
          margin: 0 0 5px;
          font-size: 1.85rem;
          text-transform: capitalize;
        }
        h3 {
          margin: 0;
          font-size: 1.15rem;
          color: $secondary-color;
          text-transform: capitalize;
        }
      }
    }
  }
  .icon {
    width: 480px;
    margin: 0 auto;
    @include flex();
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    animation: animationIcons 0.5s ease-in-out 0.75s forwards;
    background: $secondary-color;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(30, 25, 30, 0.14);
    z-index: -1;
  }
}

@keyframes animationCV {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes animationIcons {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -40px;
  }
}
